<h1>Welcome to bookVin <%= @user.first_name + @user.last_name %>!</h1>

<%= link_to "Create Club", new_club_path %>
<br><br>

<div>
  <% @clubs.each do |club| %>
    <%= link_to "#{club.name}", club_path(club) %><br>
  <% end %>
</div>
